<div class="auth-container">
    <h2>Register</h2>
    <form ng-submit="register()">
        <label>Username:</label>
        <input type="text" ng-model="registerData.username" required placeholder="Masukkan username">
        <label>Email:</label>
        <input type="email" ng-model="registerData.email" required placeholder="Masukkan email">
        <label>Password:</label>
        <input type="password" ng-model="registerData.password" required placeholder="Masukkan password">
        <button type="submit">Register</button>
    </form>
    <p>{{ message }}</p>
    <a href="#!/login">Sudah punya akun? Login di sini!</a>
</div>
